/* Project Name:
** Author(s):
** Date:
** Resources: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
**						http://sass-lang.com/tutorial.html
**						http://foundation.zurb.com/docs/
*/
/* === Responsive Variables, Functions, and Includes === */
/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
/* === Custom SASS Variables === */
/* Paths */
/* Colors */
/* Fonts */
/* === Custom SASS Functions or Includes === */
@font-face { font-family: 'nexa_lightregular'; src: url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Light-webfont.eot"); src: url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Light-webfont.eot?#iefix") format("embedded-opentype"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Light-webfont.woff") format("woff"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Light-webfont.ttf") format("truetype"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Light-webfont.svg#nexa_lightregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'nexa_boldregular'; src: url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Bold-webfont.eot"); src: url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Bold-webfont.woff") format("woff"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Bold-webfont.ttf") format("truetype"), url("/christmasfy-bookmarklet/public/fonts/nexa/Nexa_Free_Bold-webfont.svg#nexa_boldregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'nexa_slab_heavyregular'; src: url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.eot"); src: url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.eot?#iefix") format("embedded-opentype"), url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.woff2") format("woff2"), url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.woff") format("woff"), url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.ttf") format("truetype"), url("/christmasfy-bookmarklet/public/fonts/nexa/nexaslabheavy-webfont.svg#nexa_slab_heavyregular") format("svg"); font-weight: normal; font-style: normal; }

/* === Custom Author Styles !Note! These will appear for all level's unless placed in the media query for screen, please use the i8.scss file for that browser === */
/* 0, 640px */
@media only screen { /* line 56, sass/custom.scss */
  html, body { background: white url("/christmasfy-bookmarklet/public/img/layout/background-repeat.png") top left repeat-x; }
  /* line 58, sass/custom.scss */
  h1 { color: #83a14d; font-family: "nexa_boldregular"; font-size: 35px; text-transform: uppercase; }
  /* line 59, sass/custom.scss */
  h1 .tilde { display: none; }
  /* line 62, sass/custom.scss */
  h2 { color: #000; font-family: "nexa_lightregular"; font-size: 25px; line-height: 30px; text-transform: uppercase; }
  /* line 64, sass/custom.scss */
  h4 { color: #000; font-family: "Open Sans"; font-size: 18px; }
  /* line 66, sass/custom.scss */
  p { color: #333333; font-family: "Open Sans"; font-size: 18px; }
  /* line 68, sass/custom.scss */
  .awc-wrapper { width: 100%; }
  /* line 69, sass/custom.scss */
  .awc-grey-background { background-color: #efefef; margin-top: 30px; }
  /* line 70, sass/custom.scss */
  .text-center { text-align: center; }
  /* line 71, sass/custom.scss */
  .how-to { padding-top: 40px; text-align: center; }
  /* line 73, sass/custom.scss */
  #logo-container { padding: auto; }
  /* line 74, sass/custom.scss */
  #logo-container .logo { margin: 0 auto; position: relative; display: block; }
  /* line 77, sass/custom.scss */
  .intro-content { padding-bottom: 50px; }
  /* line 78, sass/custom.scss */
  .intro-content p { margin-bottom: 50px; }
  /* line 80, sass/custom.scss */
  .intro-content .awc-button-large { font-family: "nexa_slab_heavyregular"; font-size: 25px; text-decoration: none; text-transform: uppercase; padding: 20px 25px; }
  /* line 82, sass/custom.scss */
  .intro-content .awc-red-gradient { color: #fff; background: #b42311 url("/christmasfy-bookmarklet/public/img/layout/awc-red-gradient.png") top center repeat-x; }
  /* line 83, sass/custom.scss */
  .intro-content .awc-red-gradient:hover { color: #83a14d; }
  /* line 88, sass/custom.scss */
  .imac { position: relative; left: auto; top: auto; width: auto; max-width: 100%; height: auto; margin-top: 75px; }
  /* line 90, sass/custom.scss */
  #pinetree-top { height: 81px; background: url("/christmasfy-bookmarklet/public/img/layout/pinetree-top-repeat.png") top center repeat-x; }
  /* line 91, sass/custom.scss */
  #pinetree-top img { margin: 0 auto; display: block; }
  /* line 94, sass/custom.scss */
  #horizontal-rule { height: 37px; background: url("/christmasfy-bookmarklet/public/img/layout/awc-grey-horizontal-rule.png") top center repeat-x; margin: 25px 0 50px; }
  /* line 96, sass/custom.scss */
  #browser-support { margin-top: 40px; }
  /* line 97, sass/custom.scss */
  #browser-support ul { list-style: none; }
  /* line 98, sass/custom.scss */
  #browser-support ul li { display: inline-block; text-align: center; vertical-align: text-bottom; height: 90px; }
  /* line 99, sass/custom.scss */
  #browser-support ul li img { display: block; margin: 0 auto 5px; vertical-align: top; }
  /* line 104, sass/custom.scss */
  #awc-happy-holidays { height: 105px; margin: 50px auto; }
  /* line 105, sass/custom.scss */
  #awc-happy-holidays .copy-block { color: #83a14d; font-family: "nexa_boldregular"; font-size: 15px; letter-spacing: 2px; text-transform: uppercase; text-align: center; }
  /* line 106, sass/custom.scss */
  #awc-happy-holidays img { display: block; margin: 10px auto 0; } }
/* 641px, 1024px */
@media only screen and (min-width: 40.063em) { /* line 114, sass/custom.scss */
  h1 .tilde { display: inline; }
  /* line 118, sass/custom.scss */
  .intro-content .awc-button-large { padding: 20px 50px; } }
/* 1025px+ */
@media only screen and (min-width: 64.063em) { /* line 126, sass/custom.scss */
  .imac { position: absolute; left: -150%; top: -100px; width: 936px; max-width: 936px; height: 864px; z-index: 100; }
  /* line 129, sass/custom.scss */
  .intro-content .awc-button-large { padding: 20px 100px; }
  /* line 132, sass/custom.scss */
  .how-to { text-align: left; }
  /* line 134, sass/custom.scss */
  #awc-happy-holidays { position: relative; }
  /* line 135, sass/custom.scss */
  #awc-happy-holidays .copy-block { position: absolute; top: 44px; } }
/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
/* === 3rd Party Styles === */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 159, sass/custom.scss */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

/* line 167, sass/custom.scss */
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

/* line 174, sass/custom.scss */
.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* line 184, sass/custom.scss */
.fancybox-opened { z-index: 8030; }

/* line 188, sass/custom.scss */
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

/* line 194, sass/custom.scss */
.fancybox-outer, .fancybox-inner { position: relative; }

/* line 198, sass/custom.scss */
.fancybox-inner { overflow: hidden; }

/* line 202, sass/custom.scss */
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

/* line 206, sass/custom.scss */
.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

/* line 214, sass/custom.scss */
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

/* line 220, sass/custom.scss */
.fancybox-image { max-width: 100%; max-height: 100%; }

/* line 225, sass/custom.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_sprite.png"); }

/* line 229, sass/custom.scss */
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }

/* line 241, sass/custom.scss */
#fancybox-loading div { width: 44px; height: 44px; background: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_loading.gif") center center no-repeat; }

/* line 247, sass/custom.scss */
.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }

/* line 257, sass/custom.scss */
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("/christmasfy-bookmarklet/public/img/blank.gif"); /* helps IE */ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 8040; }

/* line 269, sass/custom.scss */
.fancybox-prev { left: 0; }

/* line 273, sass/custom.scss */
.fancybox-next { right: 0; }

/* line 277, sass/custom.scss */
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

/* line 288, sass/custom.scss */
.fancybox-prev span { left: 10px; background-position: 0 -36px; }

/* line 293, sass/custom.scss */
.fancybox-next span { right: 10px; background-position: 0 -72px; }

/* line 298, sass/custom.scss */
.fancybox-nav:hover span { visibility: visible; }

/* line 302, sass/custom.scss */
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
/* line 314, sass/custom.scss */
.fancybox-lock { overflow: hidden !important; width: auto; }

/* line 319, sass/custom.scss */
.fancybox-lock body { overflow: hidden !important; }

/* line 323, sass/custom.scss */
.fancybox-lock-test { overflow-y: hidden !important; }

/* line 327, sass/custom.scss */
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_overlay.png"); }

/* line 337, sass/custom.scss */
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

/* line 343, sass/custom.scss */
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
/* line 350, sass/custom.scss */
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }

/* line 358, sass/custom.scss */
.fancybox-opened .fancybox-title { visibility: visible; }

/* line 362, sass/custom.scss */
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }

/* line 371, sass/custom.scss */
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */ background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }

/* line 387, sass/custom.scss */
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }

/* line 393, sass/custom.scss */
.fancybox-title-inside-wrap { padding-top: 10px; }

/* line 397, sass/custom.scss */
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { /* line 412, sass/custom.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_sprite@2x.png"); background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/ }
  /* line 417, sass/custom.scss */
  #fancybox-loading div { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_loading@2x.gif"); background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/ } }
