/* Project Name:
** Author(s):
** Date:
** Resources: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
**						http://sass-lang.com/tutorial.html
**						http://foundation.zurb.com/docs/
*/
/* === Responsive Variables, Functions, and Includes === */
/* === Custom SASS Variables === */
/* === Custom SASS Functions or Includes === */
/* === Custom Author Styles !Note! These will appear for all level's unless placed in the media query for screen, please use the i8.scss file for that browser === */
/* line 15, sass/custom.scss */
h1 { color: #83a14d; font-size: 35px; text-transform: uppercase; }

/* line 17, sass/custom.scss */
h2 { color: #000; font-size: 25px; line-height: 30px; text-transform: uppercase; }

/* line 19, sass/custom.scss */
.awc-wrapper { width: 100%; }

/* line 21, sass/custom.scss */
.awc-grey-background { background-color: #efefef; }

/* line 23, sass/custom.scss */
.how-to { padding-top: 40px; }

/* line 25, sass/custom.scss */
.intro-content { padding-bottom: 50px; }
/* line 26, sass/custom.scss */
.intro-content p { margin-bottom: 50px; }
/* line 28, sass/custom.scss */
.intro-content .awc-button-large { font-size: 25px; text-transform: uppercase; padding: 20px 100px; }
/* line 30, sass/custom.scss */
.intro-content .awc-red-gradient { color: #fff; background: #b42311 url("/christmasfy-bookmarklet/public/img/layout/awc-red-gradient.png") top center repeat-x; }
/* line 31, sass/custom.scss */
.intro-content .awc-red-gradient:hover { color: #83a14d; }

/* line 38, sass/custom.scss */
#pinetree-top { height: 81px; background: url("/christmasfy-bookmarklet/public/img/layout/pinetree-top-repeat.png") top center repeat-x; }

/* line 40, sass/custom.scss */
#horizontal-rule { height: 37px; background: url("/christmasfy-bookmarklet/public/img/layout/awc-grey-horizontal-rule.png") top center repeat-x; margin: 25px 0 50px; }

/* We use this media query to add styles to any device that supports media queries */
/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
/* Used to alter styles for screens at least 1280px wide. */
/* Used to alter styles for screens at least 1440px wide. */
/* Apply styles to screens in landscape orientation */
/* Apply styles to screens in portrait orientation */
/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
/* === 3rd Party Styles === */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 97, sass/custom.scss */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp { padding: 0; margin: 0; border: 0; outline: none; vertical-align: top; }

/* line 105, sass/custom.scss */
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }

/* line 112, sass/custom.scss */
.fancybox-skin { position: relative; background: #f9f9f9; color: #444; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/* line 122, sass/custom.scss */
.fancybox-opened { z-index: 8030; }

/* line 126, sass/custom.scss */
.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

/* line 132, sass/custom.scss */
.fancybox-outer, .fancybox-inner { position: relative; }

/* line 136, sass/custom.scss */
.fancybox-inner { overflow: hidden; }

/* line 140, sass/custom.scss */
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }

/* line 144, sass/custom.scss */
.fancybox-error { color: #444; font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; margin: 0; padding: 15px; white-space: nowrap; }

/* line 152, sass/custom.scss */
.fancybox-image, .fancybox-iframe { display: block; width: 100%; height: 100%; }

/* line 158, sass/custom.scss */
.fancybox-image { max-width: 100%; max-height: 100%; }

/* line 163, sass/custom.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_sprite.png"); }

/* line 167, sass/custom.scss */
#fancybox-loading { position: fixed; top: 50%; left: 50%; margin-top: -22px; margin-left: -22px; background-position: 0 -108px; opacity: 0.8; cursor: pointer; z-index: 8060; }

/* line 179, sass/custom.scss */
#fancybox-loading div { width: 44px; height: 44px; background: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_loading.gif") center center no-repeat; }

/* line 185, sass/custom.scss */
.fancybox-close { position: absolute; top: -18px; right: -18px; width: 36px; height: 36px; cursor: pointer; z-index: 8040; }

/* line 195, sass/custom.scss */
.fancybox-nav { position: absolute; top: 0; width: 40%; height: 100%; cursor: pointer; text-decoration: none; background: transparent url("/christmasfy-bookmarklet/public/img/blank.gif"); /* helps IE */ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); z-index: 8040; }

/* line 207, sass/custom.scss */
.fancybox-prev { left: 0; }

/* line 211, sass/custom.scss */
.fancybox-next { right: 0; }

/* line 215, sass/custom.scss */
.fancybox-nav span { position: absolute; top: 50%; width: 36px; height: 34px; margin-top: -18px; cursor: pointer; z-index: 8040; visibility: hidden; }

/* line 226, sass/custom.scss */
.fancybox-prev span { left: 10px; background-position: 0 -36px; }

/* line 231, sass/custom.scss */
.fancybox-next span { right: 10px; background-position: 0 -72px; }

/* line 236, sass/custom.scss */
.fancybox-nav:hover span { visibility: visible; }

/* line 240, sass/custom.scss */
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }

/* Overlay helper */
/* line 252, sass/custom.scss */
.fancybox-lock { overflow: hidden !important; width: auto; }

/* line 257, sass/custom.scss */
.fancybox-lock body { overflow: hidden !important; }

/* line 261, sass/custom.scss */
.fancybox-lock-test { overflow-y: hidden !important; }

/* line 265, sass/custom.scss */
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_overlay.png"); }

/* line 275, sass/custom.scss */
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }

/* line 281, sass/custom.scss */
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll; }

/* Title helper */
/* line 288, sass/custom.scss */
.fancybox-title { visibility: hidden; font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; position: relative; text-shadow: none; z-index: 8050; }

/* line 296, sass/custom.scss */
.fancybox-opened .fancybox-title { visibility: visible; }

/* line 300, sass/custom.scss */
.fancybox-title-float-wrap { position: absolute; bottom: 0; right: 50%; margin-bottom: -35px; z-index: 8050; text-align: center; }

/* line 309, sass/custom.scss */
.fancybox-title-float-wrap .child { display: inline-block; margin-right: -100%; padding: 2px 20px; background: transparent; /* Fallback for web browsers that doesn't support RGBa */ background: rgba(0, 0, 0, 0.8); -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-shadow: 0 1px 2px #222; color: #FFF; font-weight: bold; line-height: 24px; white-space: nowrap; }

/* line 325, sass/custom.scss */
.fancybox-title-outside-wrap { position: relative; margin-top: 10px; color: #fff; }

/* line 331, sass/custom.scss */
.fancybox-title-inside-wrap { padding-top: 10px; }

/* line 335, sass/custom.scss */
.fancybox-title-over-wrap { position: absolute; bottom: 0; left: 0; color: #fff; padding: 10px; background: #000; background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { /* line 350, sass/custom.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_sprite@2x.png"); background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/ }
  /* line 355, sass/custom.scss */
  #fancybox-loading div { background-image: url("/christmasfy-bookmarklet/public/img/fancybox/fancybox_loading@2x.gif"); background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/ } }
